@using LoginSession.Core.Application.ViewModels.Users;
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid">


    <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    @Html.ValidationSummary(false,"", new{@class = "text-danger"})

                    <form method="post" asp-controller="User" asp-action="Index">
                        <div class="mb-3">
                            <label asp-for="UserName" class="form-label">Nombre de Usuario</label>
                            <input class="form-control" asp-for="UserName" />
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Contraseña</label>
                            <input class="form-control" asp-for="Password" />
                        </div>
                        <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Iniciar Sección</button>
                        </div>
                        <div class="mb-3">
                        <a asp-controller ="User" asp-action="Register">Registrate!</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
