@using LoginSession.Core.Application.ViewModels.Users;
@model SaveUserViewModel


@{

    ViewData["Title"] = "Crear Usuario";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>Creando un nuevo Usuario</h4>
                </div>
                <div class="card-body">

                    <form method="post" asp-controller="User" asp-action="Register">

                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Nombre: </label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="LastName" class="form-label">Apellido: </label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Phone" class="form-label">Telefono: </label>
                            <input asp-for="Phone" class="form-control"/>
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Correo: </label>
                            <input type="text" asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="UserName" class="form-label">Nombre de Usuario: </label>
                            <input type="text" asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Contraseña: </label>
                            <input type="password" asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ConfirnPassword" class="form-label">Confirmar Contraseña: </label>
                            <input type="password" asp-for="ConfirnPassword" class="form-control" />
                            <span asp-validation-for="ConfirnPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-controller="User" asp-action="Index" class="btn btn-warning">Atrás</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
